<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookshelf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.ShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.bookshelf.service.AuthenticationService" />

        <activity
            android:name="com.bookshelf.activity.authorized.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.bookshelf.activity.FrontActivity" />
        <activity
            android:name="com.bookshelf.activity.SignInActivity"
            android:noHistory="true"/>

        <activity android:name="com.bookshelf.activity.SignUpActivity" />
        <activity
            android:name="com.bookshelf.activity.ShoppingCartActivity"
            android:label="Shopping Cart">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookshelf.activity.authorized.HomeActivity" />
        </activity>
        <activity
            android:name="com.bookshelf.activity.AccountActivity"
            android:label="Account">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookshelf.activity.authorized.HomeActivity" />
        </activity>
        <activity
            android:name="com.bookshelf.activity.HistoryActivity"
            android:label="Your History">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookshelf.activity.authorized.HomeActivity" />
        </activity>
        <activity
            android:name="com.bookshelf.activity.SettingsActivity"
            android:label="Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookshelf.activity.authorized.HomeActivity" />
        </activity>
        <activity
            android:name="com.bookshelf.activity.CategoriesActivity"
            android:label="Categories">
        </activity>
        <activity
            android:name=".activity.ItemActivity"
            android:label="Item"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.ItemsActivity"
            android:label="Items">
        </activity>
    </application>

</manifest>