<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bookshelf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.ShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.bookshelf.security.CustomTrustOkHttpGlideModule"
            android:value="GlideModule" />


        <meta-data
            android:name="com.bookshelf.security.CustomTrustOkHttpGlideModule"
            android:value="GlideModule" />

        <!-- Add your live Simplify public key here -->
        <meta-data
            android:name="com.bookshelf.payment.apiKey"
            android:value="sbpb_ZjkwYmYwNmEtNDQ4Yy00ZGRhLWIxN2MtMzY1NDgzN2M3ODc2" />

        <!-- Add your Android Pay public key here -->
        <meta-data
            android:name="com.bookshelf.payment.androidPayPublicKey"
            android:value="BICzC3AqJbov+uNoWRR6C+E/Z9am2EVeLARsX38W7ixVqr2BhsB934PeO6SFlN0dMBXzfK6aKJmKXcYW0/+eTKg=" />

        <!-- Enables the Android Pay API -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activity.LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.AuthenticationService" />

        <activity
            android:name=".activity.authorized.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.FrontActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SignInActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
        android:name=".activity.SignUpActivity"
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SignUpAddressActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ShoppingCartActivity"
            android:label="Shopping Cart">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookshelf.activity.authorized.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.AccountActivity"
            android:label="Account" />
        <activity
            android:name=".activity.HistoryActivity"
            android:label="Your History">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookshelf.activity.authorized.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bookshelf.activity.authorized.HomeActivity" />
        </activity>
        <activity
            android:name=".activity.CategoriesActivity"
            android:label="Categories" />
        <activity
            android:name=".activity.ItemActivity"
            android:label="Item"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.ItemsActivity"
            android:label="Items"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SearchActivity"
            android:label="string/searchResults">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".activity.authorized.SignOutActivity" />
        <activity android:name=".activity.authorized.payment.CardFormActivity"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.CardActivity" />
        <activity android:name=".activity.authorized.payment.AndroidPayActivity" />
        <activity android:name=".activity.authorized.payment.ResultActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.authorized.payment.ResultFailedActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>